<%-include('header.ejs')-%>
<!---------------------------------------------------------->
<div class="main-box">
    <div class="title">
        <h1><span class="highlight">E</span>asy <span class="highlight">S</span>tock <span class="highlight">S</span>earching</h1>
    </div>
    <form action="/result" method="GET">
        <div class="search-box">
            <div class="search">
                <input type="text" name="stockName" placeholder="주식 코드 입력">
            </div>
            <div class="searching-btn">
                <button type="submit">Searching!</button>
            </div>
        </div>
    </form>
</div>
<div class="empty-box"></div>
 <!---------------------------------------------------------->
 <%-include('footer.ejs')-%>