<%-include('header.ejs')-%>
<!---------------------------------------------------------->
<div class="main-box">
    <div class="title">
        <h1><span class="highlight">E</span>asy <span class="highlight">S</span>tock <span class="highlight">S</span>earching</h1>
    </div>
    <div class="search">
        <input type="text">
    </div>
    <div class="searching-btn">
        <a href="/result">Searching!</a>
    </div>
</div>
<div class="empty-box"></div>
 <!---------------------------------------------------------->
 <%-include('footer.ejs')-%>